.overview
    display: flex
    flex-direction: column

    .overview__text
        text-align: center

        .catchphrase
            display: flex
            margin-top: 80px
            justify-content: center

            .catchphrase__item
                margin: 8px
                font-size: 1.8em
    
    .overview__graph
        width: 100%
        height: auto

.roller
    display: flex
    height: 38px
    overflow: hidden

    .roller__container
        display: flex
        flex-direction: column

        .roller__item
            padding: 5px

.roller--reversed
    align-items: flex-end

.roller--left

    .roller__container
        align-items: flex-end

.roller--right

    .roller__container
        align-items: flex-start


